.repository-list {
  width: 100%;
  margin-bottom: 1rem;
}

.repository-card {
  background-color: #96b6c5;
  overflow: hidden;
}

.repository-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  user-select: none;
}

.repository-header a {
  color: white;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.toggle-icon {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
}

.repository-details {
  display: none;
  padding: 1rem;
  background-color: var(--light);
  border: 3px solid #96b6c5;
  animation: slideDown 0.3s ease;
}

.repository-card.active {
  border-color: var(--yellow);
}

.repository-card.active .repository-details {
  display: block;
}

.repository-card.active .toggle-icon {
  transform: rotate(180deg);
}

.readme-content {
  margin-top: 1rem;
}

.repo-details {
  display: flex;
  justify-content: space-between;
  color: var(--dark);
  margin-top: 0.5rem;
  flex-wrap: wrap;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 769px) {
  .repository-container {
    display: flex;
  }

  .repository-list {
    flex-grow: 1;
    width: 100%;
    margin: 0 auto;
    border-right: none;
    padding-right: 0;
  }
}
