.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-light);
}

.content-container {
  display: flex;
  align-items: start;
  gap: 1.5rem;
  width: 100%;
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }
}
